# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# VSCode
.vscode/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Uploads
uploads/

# Heatmaps
heatmaps/

# Dataset
dataset/
datasets/
data/


# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/